.cabecalho{  
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;

 } GARANTE AS ALTERAÇÕE SOMENTE NO CABEÇALHO, ESTUDANTE e ESCOLA

 .cabecalho-imagem{

    width: 20%;
} 

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}